<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" opened class="layout-sidenav">
    <div class="layout-brand">Selenium Training Demo</div>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link"> Dashboard </a>

      <a mat-list-item routerLink="/inventory" routerLinkActive="active-link"> Inventory </a>

      <a mat-list-item routerLink="/jobs" routerLinkActive="active-link"> Jobs </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="layout-toolbar">
      <span>Selenium Training Demo</span>
    </mat-toolbar>

    <main class="layout-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
